html{
    background-color: rgb(255, 255, 255);
}
body{
    bACKGROUND-color:"tranperent";
}
a{box-sizing: border-box;
    padding: 10px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.nav_menu a:hover {
 
  border-radius: 50px;
    background-color: rgb(3, 3, 3);
    color: rgb(10, 215, 6);}

h1{color: rgb(0, 0, 0);
    text-align: center;
}
h1::first-letter{
    color:red;
    text-decoration: underline;
}

p{
    text-align: center;
    color: rgb(0, 0, 0);
}
div.style div {
    width:33%;  
    float:left;
  }
  .zoom{
    height: 300px;
    overflow: hidden;
    border-radius: 16px;
  }
.zoom img{
    object-fit: cover;
    transition: transform 0.8s;
    height: 100%;
}
.zoom:hover img{
    transform: scale(1.5);
}
.zoom1{
    height: 200px;
    overflow: hidden;
    border-radius: 16px;
  }
.zoom1 img{
    object-fit: cover;
    transition: transform 0.8s;
    height: 100%;
}
.zoom1:hover img{
    transform: scale(1.5);
}
.zoom2{
    height: 200px;
    overflow: hidden;
    border-radius: 16px;
  }
.zoom2 img{
    object-fit: cover;
    transition: transform 0.8s;
    height: 100%;
}
.zoom2:hover img{
    transform: scale(1.5);
}
.zoom3{
    height: 200px;
    overflow: hidden;
    border-radius: 16px;
  }
.zoom3 img{
    object-fit: cover;
    transition: transform 0.8s;
    height: 100%;
}
.zoom3:hover img{
    transform: scale(1.5);
}
div.inner{
  width:400px;
  padding-left: 30px;
  padding-right: 30px;
}
